GEMINI_API_KEY=AIzaSyDLojRKH9Id4UktcsUxJz1qHP6Ln0GUO8Q
GEMINI_MODEL=gemini-2.0-flash

DOCTOR_EMAIL=doctor@klineus.local
DOCTOR_PASSWORD_HASH=$2b$12$DRqbIGRLlO.7eZFIxY.9.O8M2ixtlSYY9StISu6nmvtKvPwbq3OvO

ADMIN_EMAIL=admin@klineus.local
ADMIN_PASSWORD_HASH=$2b$12$r2io1Dt2FdfYl47dgE7rWuZqCGQO.VVyg3ei2BomOFmtL1p.BipVS

JWT_SECRET=change-this-secret-for-local-development
JWT_EXPIRES_MINUTES=480

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://patient.klineus.de,https://patient.klieneus.de,https://arzt.klineus.de,https://artz.klineus.de,https://admin.klineus.de
